{# templates/all_data/index.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Toutes les Données{% endblock %}

{% block body %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Toutes les Données</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{path('app_dashboard')}}">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </div>
    <section class="section">
        <div class="row">
          <!-- Datatables -->
          <div class="col-lg-12">
            <div class="card mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">All data</h6>
              </div>
              <div class="table-responsive p-3">
                <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                  <thead class="thead-light">
                      <tr>
                          <th scope="col">Type</th>
                          <th scope="col">Ref</th>
                          <th scope="col">Date de Création</th>
                          <th scope="col">Wilaya</th>
                          <th scope="col">Dernière Activité</th>
                          <th scope="col">Action</th>
                      </tr>
                  </thead>
                  <tfoot>
                      <tr>
                          <th scope="col">Type</th>
                          <th scope="col">Ref</th>
                          <th scope="col">Date de Création</th>
                          <th scope="col">Wilaya</th>
                          <th scope="col">Dernière Activité</th>
                          <th scope="col">Action</th>
                      </tr>
                  </tfoot>
                  <tbody>
                      {% for data in allData %}
                          <tr>
                              <th scope="row">{{ data.type }}</th>
                              <th scope="row">{{ data.id }}</th>
                              <td>{{ data.createdAt|date('l, Y H:i') }}</td>
                              <td>{{ data.cityName }}</td>
                              <td>{{ (data.events|last).createdAt|date('d-m-Y H:i:s') }}</td>
                              <td>
                                  <a href="{{ path('game_show', {'id': data.id}) }}" class="btn btn-primary">Voir les détails</a>
                              </td>
                          </tr>
                      {% endfor %}                     
                  </tbody>
                </table>
                <a href="{{ path('export_dashboard_excel') }}" class="btn btn-primary mt-4">Export All Data</a>
              </div>
            </div>
          </div>
        </div>
    </section>
{% endblock %}
